* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  color: rgb(235, 235, 235);
  background-color: orangered;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: #efeae3;
}

#main {
    width: 100%;
    height: 40em;
    background-color: #efeae3;
  }